{% extends 'layout.html.twig' %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_advanced_item_search_index', 'trans': 'menu.advanced_item_search'}], null, null) %}

{% block title %}
    {{ renderTitle(breadcrumb) }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb) }}
{% endblock %}

{% block content %}
    <div class="title-block">
        <h1>{{ 'menu.advanced_item_search'|trans }}</h1>
    </div>

    <div class="content-block">
        {{ form_start(form, {'method': 'POST'}) }}

        {% for block in form.blocks %}
            <div class="row search-block" data-controller="search-filter">
                <div class="{% if loop.first %}hidden{% endif %}">
                    {{ form_row(block.condition) }}
                </div>

                {% for filter in block.children.filters %}
                    <div class="s12 l2 offset-l1 xl1 offset-xl1 {% if loop.first %}visibility-none{% endif %}">
                        {{ form_row(filter.condition, {'attr': {'data-controller' : 'select--default'}}) }}
                    </div>

                    <div class="s12 l4 xl2">
                        {{ form_row(filter.type, {'label' : 'label.type', 'attr': {
                            'data-controller' : 'select--default',
                            'data-action': 'change->search-filter#loadTypeInputs',
                            'data-search-filter-target': 'typeInput'
                        } }) }}
                    </div>

                    <div class="s12 l4 xl2" data-search-filter-target="datumInputContainer">
                        {% if filter.datum is defined %}
                            {{ form_row(filter.datum, {'label' : 'label.item_data', 'attr': {
                                'data-controller' : 'select--default',
                                'data-action': 'change->search-filter#loadDatumInputs',
                                'data-search-filter-target': 'datumInput'
                            } }) }}
                        {% endif %}
                    </div>

                    <div class="s12 l4 xl2" data-search-filter-target="operatorInputContainer">
                        {% if filter.operator is defined %}
                            {{ form_row(filter.operator, {'label' : 'label.operator', 'attr': {
                                'data-controller' : 'select--default'
                            } }) }}
                        {% endif %}
                    </div>

                    <div class="s12 l4 xl2" data-search-filter-target="valueInputContainer">
                        {% if filter.value is defined %}
                            {% include 'App/AdvancedItemSearch/_value.html.twig' with {
                                id: filter.vars.id ~ '_value',
                                value: filter.value.vars.value,
                                name: filter.vars.full_name ~ '[value]',
                                type: filter.vars.value.type,
                                datumLabel: filter.vars.value.datumLabel,
                                datumType: filter.vars.value.datumType,
                            } only %}

                            {% do filter.value.setRendered %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        <div class="row">
            <div class="error-helper s12">
                {{ form_errors(form) }}
            </div>
        </div>

        <button name="submit" type="submit" class="btn waves-effect waves-light">{{ 'btn.submit'|trans }}</button>

        {{ form_end(form) }}
    </div>
{% endblock %}
