{% extends 'layout.html.twig' %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_advanced_item_search_index', 'trans': 'menu.advanced_item_search'}], null, null) %}

{% block title %}
    {{ renderTitle(breadcrumb) }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb) }}
{% endblock %}

{% block content %}
    <div class="title-block">
        <h1>{{ 'menu.advanced_item_search'|trans }}</h1>
    </div>

    <div class="content-block">
        {{ form_start(form, {'method': 'POST'}) }}

        {% for block in form.blocks %}
            <div class="{% if loop.first %}hidden{% endif %}">
                {{ form_row(block.condition) }}
            </div>

            <div class="row">
                <div class="search-block s12 l10 offset-l1">
                    <div data-controller="search-filters"
                         data-prototype="{% apply escape %} {% include 'App/AdvancedItemSearch/_prototype_filter.html.twig' with { 'form': block.children.filters.vars.prototype } only %} {% endapply %}"
                    >
                        <div data-search-filters-target="filtersContainer">
                            {% for filter in block.children.filters %}
                                {{ include('App/AdvancedItemSearch/_prototype_filter.html.twig', { 'form': filter }) }}
                            {% endfor %}
                        </div>


                        <a data-search-filters-target="button"
                           data-action="click->search-filters#add"
                           href="#"
                           class="waves-effect waves-light btn right"
                        >{{ 'btn.add_filter'|trans }}</a>


                        {% do block.children.filters.setRendered %}
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="row">
            <div class="error-helper s12">
                {{ form_errors(form) }}
            </div>
        </div>

        <button name="submit" type="submit" class="btn waves-effect waves-light">{{ 'btn.submit'|trans }}</button>

        {{ form_end(form) }}
    </div>
{% endblock %}
